@font-face {
    font-family: 'Arcade Interlaced';
    font-style: normal;
    font-weight: normal;
    src: local('Arcade Interlaced'), url('/ARCADE_I.woff') format('woff');
}


@font-face {
    font-family: 'Arcade Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Arcade Normal'), url('/ARCADE_N.woff') format('woff');
}


@font-face {
    font-family: 'Arcade Rounded';
    font-style: normal;
    font-weight: normal;
    src: local('Arcade Rounded'), url('/ARCADE_R.woff') format('woff');
}